.btn-outline-download {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-border-color: var(--bs-btn-color);
    --bs-btn-hover-border-color: var(--bs-btn-color);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
    --bs-btn-active-color: var(--bs-btn-color);
    svg{
        stroke: var(--bs-btn-color);
    }
}
