
:root{
    --purple-background: #5E3AEE;
}
.introducing {
    color: #000;
    margin-top: 20%;

    .hello {
        font-weight: 800;
        font-size: 4rem;
        font-family: "comfortaa-bold";
        line-height: normal;
    }

    .name{
        color:#5E3AEE;
    }

    .about{
        font-size: 29px;
        color:#696969;
        font-family: "poppins-semibold";
    }
}

.profile-img {
    width: 448px;
    height: 492px;
    border-radius: 50%;
    margin-top: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.my-banner{
    background-color: #F0F0F5;
}

.score{
    text-align: center;
    .score-number{
        font-size: 49px;
        font-family: "poppins-bold";
    }

    .score-title{
        font-size: 18px;
        color: #BFB8B8;
        font-family: "poppins-regular";
    }
}

.divider{
    height: 50px;
}

.score-container{
    border-style: solid;
    border-top-color: #F0F0F5;
    border-bottom-color: #F0F0F5;
    border-left-color: transparent;
    border-right-color: transparent;
}

.about-me{
    background-color: #0F1221;
    height: 493px;
}

.column-about-me{
    padding-top: 5rem;
    padding-left: 6rem;
    .rect{
        width: 205px;
        height: 27px;
        background-color:var(--purple-background);
    }

    .a-bit-about-me{
        color:white;
        font-family: "poppins-bold";
        font-size: 49px;
    }

    .about-me-description{
        color: white;
        font-family: "poppins-light";
        justify-content: justify;
        font-size: 20px;
    }

    .email-git{
        color:var(--purple-background);
        font-family: "poppins-bold";
        font-size: 20px;
    }
}

.skill{
    font-family: "poppins-extrabold";
    font-size: 49px;
    color: var(--purple-background);
}

.skill-image-128{
    width: 128px;
}

.container-skill{
    .skill-box{
        align-content: center;
    }
}

.contact{
    background-color: var(--purple-background);
}